In [1]:
# importing the necessary libraries 
import pandas as pd
import numpy as np
import math
import scipy.stats as stats
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# loading my dataset?
d = "C:/Users/Nael/Desktop/zambezia.csv"  # providing the dataset path
df = pd.read_csv(d)    # reading the csv file and saving as df 
df

        district  population
0  Alto Molocue        384472
1           Dere       121763
2           Gile       237367
3          Gurue       465560
4            Ile       214027
5         Lugela       202427
6         Mocuba       446118
7    Morrumbala        410675
8       Mulevala       117370
9       Namarroi       157854

In [3]:
# Checking the data type in each column
df.dtypes

district       object
population      int64
dtype: object

In [4]:
# Checking the name of each column
df.columns.values

array(['district', 'population '], dtype=object)

In [5]:
#  adding a colunn for 70% of population 
df['pop_target']=round(df['population ']*0.70)

# adding a colunn for  number of  households 
df['household'] = round(df['pop_target']/5)

# adding a colunn for number of males
df['male'] = round(df['pop_target']*0.48)

# adding a colunn for number of females
df['female'] = round(df['pop_target']*0.52 )

# adding a colunn for number of boy < 5
df['boy'] = round(df['pop_target']*0.0853 )

# adding a colunn for number of girl < 5
df['girl'] = round(df['pop_target']*0.0827 )

# adding a colunn for number of children < 5
df['u5'] = round(df['girl'] +df['boy'])

# adding a colunn for number of boy < 2
df['u2'] = round(df['u5']*0.40 )

df

,district,population,pop_target,household,male,female,boy,girl,u5,u2
0,Alto Molocue,384472,269130.0,53826.0,129182.0,139948.0,22957.0,22257.0,45214.0,18086.0
1,Dere,121763,85234.0,17047.0,40912.0,44322.0,7270.0,7049.0,14319.0,5728.0
2,Gile,237367,166157.0,33231.0,79755.0,86402.0,14173.0,13741.0,27914.0,11166.0
3,Gurue,465560,325892.0,65178.0,156428.0,169464.0,27799.0,26951.0,54750.0,21900.0
4,Ile,214027,149819.0,29964.0,71913.0,77906.0,12780.0,12390.0,25170.0,10068.0
5,Lugela,202427,141699.0,28340.0,68016.0,73683.0,12087.0,11719.0,23806.0,9522.0
6,Mocuba,446118,312283.0,62457.0,149896.0,162387.0,26638.0,25826.0,52464.0,20986.0
7,Morrumbala,410675,287472.0,57494.0,137987.0,149485.0,24521.0,23774.0,48295.0,19318.0
8,Mulevala,117370,82159.0,16432.0,39436.0,42723.0,7008.0,6795.0,13803.0,5521.0
9,Namarroi,157854,110498.0,22100.0,53039.0,57459.0,9425.0,9138.0,18563.0,7425.0

In [6]:
tot_population= df['population '].sum()
tot_population

2757633

In [7]:
# period from 2001 to 2006 are respectively 

period = [1,2,3,4,5,6]

# calculating population growth for year 2021 to 2026

list1= []

for i in period:
    growth_pop = round(tot_population * (pow(1.0293,i)))
    list1.append(growth_pop)
    print(growth_pop)

2838432
2921598
3007201
3095311
3186004
3279354

In [18]:
#  calculating number population incremental per year
c = [list1[i+1] - list1[i] for i in range(len(list1)-1)]
c

[83166, 85603, 88110, 90693, 93350]

In [9]:
# calculating 70% target population for year 2021 to 2026

list2 =[]
for n in list1:
    target_pop_year =round(n * 0.70)
    list2.append(target_pop_year)
    print(target_pop_year)

1986902
2045119
2105041
2166718
2230203
2295548

In [19]:
#  calculating number target incremental per year
d = [list2[i+1] - list2[i] for i in range(len(list2)-1)]
d

[58217, 59922, 61677, 63485, 65345]

In [10]:
# calculating  number of targeted households  for year 2021 to 2026
list3 = []

for x in list2:
    household_year =round(x / 5)
    list3.append(household_year)
    print(household_year)

397380
409024
421008
433344
446041
459110